.Profile h1 {
    text-align: center;
  }



.Sbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    padding: 330px;
    margin-left: 90px;
    margin-right: 90px;
    border-radius: 30px;
    border: 3px solid #2190E2;
    /* width: 1650px;
    height: 700px; */
    background-color: #07264F;
    position: relative;
}

.Savatar{
    position: absolute;
    top: 7%;
    width: 150px;
    height: 150px;
    border-radius: 15px;
    background-color: aliceblue;
    color: #07264F;
}

.Sbox_button1{
    position: absolute;
    top: 31%;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background-color: #2190E2;
    color: white;
    border:#2190E2;
    font-family: simo;
    font-size: larger;
}

.Sbox_input1{
    position: absolute;
    top: 40%;
    width: 350px;
    height: 50px;
    background-color: #224771;
    border-radius: 5px;
    border: 2px solid #2190E2;
    font-family: simo;
    font-size: larger;
    text-align: center;
}

.Sbox h1{
    font-family: simo;
    font-size: x-large;
    position: absolute;
    top: 50%;
}

.Sbox_input2{
    position: absolute;
    top: 60%;
    width: 150px;
    height: 50px;
    background-color: #224771;
    border-radius: 5px;
    border: 2px solid #2190E2;
    font-family: simo;
    font-size: larger;
    text-align: center;
}

.Sbox_button2{
    position: absolute;
    top: 75%;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background-color: #2190E2;
    color: white;
    border:#2190E2;
    font-family: simo;
    font-size: xx-large;
}

label input{display:none}

label{
  top: 31%;
  padding:1rem 1.5rem;
  background:#1f66fd;
  box-shadow:2px 2px 2px #aaa;
  font:1em Arial, sans-serif;
  color:#fff;
  position:relative;
  cursor:pointer;
  user-select:none; 
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

label:active{
 top:2px; 
 box-shadow:none;
}