.Profile h1 {
    text-align: center;
  }



.Sbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    padding: 330px;
    margin-left: 90px;
    margin-right: 90px;
    border-radius: 30px;
    border: 3px solid #2190E2;
    /* width: 1650px;
    height: 700px; */
    background-color: #07264F;
    position: relative;
}

.Savatar{
    position: absolute;
    top: 7%;
    width: 150px;
    height: 150px;
    border-radius: 15px;
    background-color: aliceblue;
    color: #07264F;
}

.Sbox_button1{
    position: absolute;
    top: 31%;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background-color: #2190E2;
    color: white;
    border:#2190E2;
    font-family: simo;
    font-size: larger;
}

.Sbox_input1{
    position: absolute;
    top: 40%;
    width: 350px;
    height: 50px;
    background-color: #224771;
    border-radius: 5px;
    border: 2px solid #2190E2;
    font-family: simo;
    font-size: larger;
    text-align: center;
}

.Sbox h1{
    font-family: simo;
    font-size: x-large;
    position: absolute;
    top: 50%;
}

.Sbox_input2{
    position: absolute;
    top: 60%;
    width: 150px;
    height: 50px;
    background-color: #224771;
    border-radius: 5px;
    border: 2px solid #2190E2;
    font-family: simo;
    font-size: larger;
    text-align: center;
}

.Sbox_button2{
    position: absolute;
    top: 75%;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background-color: #2190E2;
    color: white;
    border:#2190E2;
    font-family: simo;
    font-size: xx-large;
}

input {
    display:none;
  }
  
  label {
    /* top: 70%; */
    width: 200px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    /* margin-left: auto; */
    /* margin-right: auto; */
    padding: 1rem;
    border-radius: 1rem;
    background: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);
    color: white;
    /* font-family: sans-serif; */
    /* transition: all .5s; */
    /* box-shadow: 1px 1px 15px 3px gray; */
  }
  