
.listul{
    display: flex;
    flex-direction: column;
    width: 900px;
    height: 700px;
    /* margin: 1px auto 0; */
    margin-left: 100px;
    box-sizing: border-box;
    background-color: #07264F;
    border-radius: 10px;
    border: 2px solid #2190E2;
    border-right: 2px solid #07264F;
    overflow-y: auto;
    overflow-x: hidden;
}

.listul h1{
    text-align: center;
}

.listul li{
    display: flex;
    justify-content: space-evenly;
    background: aliceblue;
    color: white;
    padding: 30px;
    margin: 5px;
    margin-right: 35px;
    border-radius: 10px;
}

/* .listul li:nth-child(3n + 1){
    background: #023e8a;
} */

.listul li:nth-child(2n + 1){
    background:   #0096c7;
}

.listul li:nth-child(2n +2){
    background: #0077b6;
}


/* .listul li:nth-child(3n + 1){
    background: #03045e;
} */

.listul li:hover {
    transform: scale(1.08);
}

.listul li span{
    /* font-family: simo; */
    font-family: sans-serif;
    font-size: large;
}