:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  /* line-height: 1.5; */
  /* font-weight: 400; */
  background-color: #061333;
  color: white;
}
body {
  /* margin: 0; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* height: 100vh; */
}

#canvas-container {
  /* position: relative; */
  /* border: 4px solid rgb(33, 144, 226); */
  /* display: flex; */
  justify-content: center;
  /* align-items: center; */
  /* margin-top: 100px; */
}
