
.PlayButton{
    position: absolute;
    left: 15%;
    bottom: 1%;
    width: 200px;
    height: 90;
    /* font-family: simo; */
    font-size: 2em;
    color: white;
    background-color: #2190E2;
    border-radius: 22px;
    border-top: 3px solid #2190E2;
    border-left: 3px solid #2190E2;
    border-bottom: 3px solid #2190E2;
    border-right: 3px solid #2190E2;
    font-family: simo;
}
