.online {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    
    background-color: yellow;
    border-radius: 50%;
    
    position: relative;
  }
  .blink {
    display: block;
    width: 20px;
    height: 20px;
    
    background-color: yellow;
    opacity: 0.7;
    border-radius: 50%;
    
    animation: blink 1s linear infinite;
  }
  
  /*Animations*/
  
  @keyframes blink {
    100% { transform: scale(2, 2); 
            opacity: 0;
          }
  }