.last{
    display: flex;
    flex-direction: column;
    background-color: #07264F;
    height: 700px;
    width: 400px;
    border-radius: 30px;
    border-top: 3px solid #2190E2;
    border-right: 3px solid #2190E2;
    border-bottom: 3px solid #2190E2;
    color: white;
}

.last h1{
    text-align: center;
}