.boxA{
    display: flex;
    flex-direction: column;
    background-color: #07264F;
    /* -ms-flex-align: center; */
    height: 700px;
    width: 400px;
    border-radius: 30px;
    border-bottom: 3px solid #2190E2;
    border-top: 3px solid #2190E2;
    color: white;
    align-items: center;
}
