@font-face {
  font-family: simo;
  src: url(../public/fonts/BigSpaceDEMO.ttf);
}

.smallbox {
  /* display: flex; */
  flex-direction: column;
  height: 60px;
  margin: 50px;
  padding: 100px;
  border-top: 8px solid #2190e2;
  border-bottom: 8px solid #2190e2;
  /* border-left: 8px solid #2190E2; */
  margin-top: 230px;
  position: relative;
}

.middleBorder {
  background-color: #2190e2;
  width: 8px;
  height: 130px;
  position: absolute;
  right: 50%;
  top: 40%;
}

.over {
  text-align: center;
  margin-top: -65px;
}

.wins {
  color: green;
  font-size: xx-large;
  position: absolute;
  right: 25%;
  bottom: 15%;
  /* font-family: simo; */
}

.losses {
  color: red;
  font-size: xx-large;
  position: absolute;
  left: 25%;
  bottom: 15%;
  /* font-family: simo; */
}

.textL {
  font-size: xx-large;
  position: absolute;
  left: 13%;
  bottom: 40%;
  color: red;
  /* font-family: simo; */
}

.textW {
  font-size: xx-large;
  position: absolute;
  right: 19%;
  bottom: 40%;
  color: green;
  /* font-family: simo; */
}

