
.PlayButton{
    position: absolute;
    left: 15%;
    bottom: 4%;
    width: 400px;
    height: 50px;
    /* font-family: simo; */
    font-size: 2em;
    color: white;
    background-color: #2190E2;
    border-radius: 22px;
    border-top: 3px solid #2190E2;
    border-left: 3px solid #2190E2;
    border-bottom: 3px solid #2190E2;
    border-right: 3px solid #2190E2;
    font-family: simo;
}

.PlayButton:hover,:focus {
    background: #00eeff;
    border: 1px solid #00e1ff;
    box-shadow: 0 0 5px #00e1ff,
                0 0 20px #00e1ff,
                0 0 50px #00e1ff,
                0 0 100px #00e1ff;
}