.ChatContainer {
  font-family: simo;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 90px;
  margin-right: 90px;
  border-radius: 30px;
  border: 3px solid #2190e2;
  background-color: #07264f;
}

.ChatBox {
  background-color: #224771;
  border: 3px solid #2190e2;
  width: 60%;
  height: 500px;
  display: flex;
}

.barChat {
  width: 60%;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

#side-bar {
  overflow-x: hidden;
  overflow-y: auto;
  width: 275px;
  height: 100%;
  border-right: 3px solid #2190e2;
}
.chat-window {
  display: flex;
  width: 100%;
  width: 275px;
  height: 100%;
  flex-grow: 1;
  flex-direction: column;
  overflow-y: scroll;
}

.chat-msg {
  height: 86%;
  display: flex;
  flex-direction: column;
}

.chat-send {
  height: 60px;

  display: flex;
  padding-right: 15px;
}

.option-btn {
  background-color: transparent;
  border: none;
}

.threedot {
  font-size: 20px;
  margin: 10px;
  color: #2190e2;
}

.stat {
  font-size: 10px;
  margin: 5px;
}

.list {
  font-size: 10px;
  margin: 5px;
  float: right;
}

.btnMenu:hover {
  background-color: #6bbef9;
  width: 100%;
}

.btnMenu {
  text-align: left;
  padding: 5px;
  color: white;
  font-family: simo;
  background-color: #2196f3;
  width: 100%;
  /* height: 100%; */
}

.listchat {
  width: 100%;
  height: 90px;
  display: flex;
  margin: 10px 10px;
}

.imgchat {
  display: flex;
  background: rgb(255, 0, 55);
  width: 90px;
  height: 90px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 5px;
}

.text-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.chat-name {
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: center;
}

.last-msg {
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: center;
}

.inputmsg {
  width: 87%;
  margin: 7px 20px;
}

.btnsend {
  flex-grow: 1;
  flex-direction: column;
  margin: 5px;
}

.btnsend2 {
  height: 100%;
  width: 60px;
  border: none;
  border-radius: 10px;
  background-color: #2190e2;
}

.sendicon {
  font-size: 30px;
  color: #1c6ca7;
}

.contentright {
  background-color: #2190e2;
  width: 60%;
  /* float: right; */
  margin-bottom: 15px;
  margin-right: 15px;
  padding: 17px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.contentleft {
  background-color: #1c6ca7;
  width: 60%;
  margin-bottom: 15px;
  margin-left: 15px;
  padding: 17px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.scrollmsg {
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.dropdown-content {
  position: absolute;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.welcomechat {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.leftmsg {
  width: 100%;
  display: flex;
  margin: 10px 0;
}

.rightmsg {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  margin: 10px 0;
}

.div-wrapper {
  height: 100%;
  width: 60px;
}

.div-wrapper img {
  width: 50px;
  height: 50px;
  margin: 15px;
  border-radius: 50%;
}

.div-wrapper2 {
  height: 100%;
  width: 60px;
}

.div-wrapper2 img {
  width: 50px;
  height: 50px;
  margin: 15px 0;
  border-radius: 50%;
}

.sendmsgcss {
  font-family: simo;
  width: 98%;
  height: 90%;
  background-color: transparent;
  border: 3px solid #2190e2;
  border-radius: 10px;
  padding: 0 10px;
  color: white;
}

.modal {
  /* display: none; */
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  border-radius: 25px;
  background-color: #07264f;
  margin: auto;
  padding: 20px;
  border: 3px solid #2190e2;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.plus-button {
	border: 2px solid #2190e2;
	background-color: #2190e2;
	font-size: 16px;
	height: 2.5em;
	width: 2.5em;
	border-radius: 999px;
	position: relative;
	
	&:after,
	&:before {
		content: "";
		display: block;
		background-color: #000;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	
	&:before {
		height: 1em;
		width: 0.2em;
	}

	&:after {
		height: 0.2em;
		width: 1em;
	}
}


.select_options{
  background-color: "red";
}
